@{
    ViewData["Title"] = "Show Items";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row align-items-center justify-content-center main-item-container" id="MainItemsContainer">
    @foreach (MainItemModel mainItem in ViewBag.MainItems)
    {
        <div class="main-item" id="MainItemID_@mainItem.ID" onclick="ShowSubItems(event, this)">
            <div class="row justify-content-center img-container">
                <img alt="Image for main-item" src="~/img/rocket-league-logo.svg" />
            </div>
            <div class="info">
                <h3>@mainItem.Name</h3>
                <div class="row justify-content-center attribute-container">
                    <div class="attribute-name">
                        <span>Category: </span>
                        <span>Platform: </span>
                        <span>Quality (rank): </span>
                    </div>
                    <div class="attribute-value">
                        <span>@mainItem.CategoryDisplay</span>
                        <span>@mainItem.PlatformDisplay</span>
                        <span>@mainItem.QualityDisplay</span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around sub-item-container hide" id="SubItems">
                @foreach (SubItemModel subItem in mainItem.SubItemModels)
                {
                    <div class="sub-item @(subItem.InCollection == true ? "collected" : "")" onclick="ChangeStatus()">
                        <div class="row justify-content-center img-container">
                            <img alt="Image for sub-item" src="~/img/rocket-league-logo.svg" />
                        </div>
                        <div class="info">
                            <div class="row attribute-container">
                                <div class="attribute-name">
                                    <span>Certificate (tier): </span>
                                    <span>Color (hex): </span>
                                </div>
                                <div class="attribute-value">
                                    <span>@subItem.CertificateDisplay</span>
                                    <span>@subItem.ColorDisplay</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>