@model RLIM.UserInterface.Models.MainItemModel

@{
    ViewData["Title"] = "Create Main-Item";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="form-container">
    <form asp-controller="MainItem" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" value="@TempData["MainItemName"]" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryID" class="control-label"></label>
            <select asp-for="CategoryID" asp-items="@(new SelectList(ViewBag.Categories,"ID","Name"))" class="form-control">
                <option disabled selected>Select Category</option>
            </select>
            <span asp-validation-for="CategoryID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PlatformID" class="control-label"></label>
            <select asp-for="PlatformID" asp-items="@(new SelectList(ViewBag.Platforms,"ID","Name"))" class="form-control">
                <option disabled selected>Select Platform</option>
            </select>
            <span asp-validation-for="PlatformID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="QualityID" class="control-label"></label>
            <select asp-for="QualityID" asp-items="@(new SelectList(ViewBag.Qualities,"ID","Display"))" class="form-control">
                <option disabled selected>Select Quality</option>
            </select>
            <span asp-validation-for="QualityID" class="text-danger"></span>
        </div>

        <div class="form-group row justify-content-between">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-controller="MainItem" asp-action="Index" class="btn btn-outline-primary">Back to Main-items</a>
        </div>
    </form>
</div>

@if (TempData["CategoryID"] != null && TempData["PlatformID"] != null && TempData["QualityID"] != null)
{
    <script>
        document.getElementById("CategoryID").value = @TempData["CategoryID"] != 0 ? @TempData["CategoryID"] : null;
        document.getElementById("PlatformID").value = @TempData["PlatformID"] != 0 ? @TempData["PlatformID"] : null;
        document.getElementById("QualityID").value = @TempData["QualityID"] != 0 ? @TempData["QualityID"] : null;
    </script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}