@model RLIM.UserInterface.Models.MainItemModel

@{
    ViewData["Title"] = "Delete Main-Item";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="form-container">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.CategoryDisplay)</th>
                <th>@Html.DisplayNameFor(model => model.PlatformDisplay)</th>
                <th>@Html.DisplayNameFor(model => model.QualityDisplay) (rank)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.CategoryDisplay)</td>
                <td>@Html.DisplayFor(model => model.PlatformDisplay)</td>
                <td>@Html.DisplayFor(model => model.QualityDisplay)</td>
            </tr>
        </tbody>
    </table>

    <form asp-controller="MainItem" asp-action="Delete" class="form-group row justify-content-between">
        <input asp-for="ID" type="hidden" />
        <input asp-for="Name" type="hidden" />
        <input asp-for="CategoryID" type="hidden" />
        <input asp-for="PlatformID" type="hidden" />
        <input asp-for="QualityID" type="hidden" />
        <input type="submit" value="Yes, I want to" class="btn btn-danger" />
        <a asp-controller="MainItem" asp-action="Index" class="btn btn-outline-primary">Back to Main-Items</a>
    </form>
</div>
