<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rocket League Item Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container row">
        <div class="side-menu">
            <a class="nav-link app-name" asp-controller="Home" asp-action="Index">RLIM</a>

            @{
                string controller = ViewContext.RouteData.Values["Controller"].ToString();
                string action = ViewContext.RouteData.Values["Action"].ToString();

                bool mainItemSelected = controller == "SubItem" && action != "Attributes" ||
                                        controller == "MainItem" && action != "Attributes";

                bool mainAttributesSelected = controller == "Category" ||
                                                controller == "Platform" ||
                                                controller == "Quality" ||
                                                controller == "MainItem" && action == "Attributes";

                bool subAttributesSelected = controller == "Certificate" ||
                                                controller == "Color" ||
                                                controller == "SubItem" && action == "Attributes";
            }

            <a class="nav-link @(mainItemSelected ? "active" : "")"
               asp-controller="MainItem" asp-action="Index">Main-Items</a>
            <a class="nav-link @(mainAttributesSelected ? "active" : "")"
               asp-controller="MainItem" asp-action="Attributes">Main-Attributes</a>
            <a class="nav-link @(subAttributesSelected ? "active" : "")"
               asp-controller="SubItem" asp-action="Attributes">Sub-Attributes</a>

            <div class="signed-as-container">
                <span>Logged in as Admin</span>
                <a class="nav-link" asp-controller="Home" asp-action="Index">Log out</a>
            </div>
        </div>
        <main role="main" class="pb-3 content row align-content-center">
            @RenderBody()
        </main>
    </div>

    @if (TempData["MessageTitle"] != null && TempData["MessageTitle"] != null)
    {
        <div id="message" class="message-container">
            <div class="message-content">
                <h2 class="message-title">@TempData["MessageTitle"]</h2>
                <div class="message-text">@TempData["MessageText"]</div>
                <div class="message-button-container">
                    <div class="message-button" onclick="CloseMessage()">Okay!</div>
                </div>
            </div>
        </div>

        <script>
            function CloseMessage() {
                document.getElementById("message").style.display = "none";
            }
        </script>
    }

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Rocket League Item Manager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
