<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rocket League Item Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container row">
        <div class="side-menu">
            <a class="nav-link app-name" asp-controller="MainItem" asp-action="Index">RLIM</a>
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "MainItem" ? "active" : "")" asp-controller="MainItem" asp-action="Index">Main-Items</a>
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Category" ? "active" : "")" asp-controller="Category" asp-action="Index">Categories</a>
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Platform" ? "active" : "")" asp-controller="Platform" asp-action="Index">Platforms</a>
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Quality" ? "active" : "")" asp-controller="Quality" asp-action="Index">Qualities</a>
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Certificate" ? "active" : "")" asp-controller="Certificate" asp-action="Index">Certificates</a>
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Color" ? "active" : "")" asp-controller="Color" asp-action="Index">Colors</a>
        </div>
        <main role="main" class="pb-3 content">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Rocket League Item Manager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
