<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rocket League Item Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />
</head>
<body>
    <div class="container row">
        <div class="side-menu">
            <a class="nav-link app-name" asp-controller="Home" asp-action="Index">RLIM</a>

            <div class="menu-items">
                <a class="nav-link @(ViewBag.SelectedCategory == "All" ? "active" : "")" asp-controller="User" asp-action="Show" asp-route-categoryName="All">All</a>

                @foreach (CategoryModel item in ViewBag.Categories)
                {
                    <a class="nav-link @(ViewBag.SelectedCategory == item.Name ? "active" : "")" asp-controller="User" asp-action="Show" asp-route-categoryName="@item.Name">@item.Name</a>
                }
            </div>

            <div class="signed-as-container">
                <span>Logged in as User</span>
                <a class="nav-link" asp-controller="Home" asp-action="Index">Log out</a>
            </div>
        </div>
        <main role="main" class="content">
            <div class="background-container">
                <div></div>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Rocket League Item Manager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/user.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
