@model IEnumerable<RLIM.UI.Models.CategoryModel>

@{
    ViewData["Title"] = "Categories";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td><a asp-controller="Category" asp-action="Create" class="btn btn-primary">New Category</a></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <form asp-controller="Category" asp-action="Update" style="display: inline-block">
                        <input asp-for="@item.ID" name="id" type="hidden" />
                        <input type="submit" value="Update" class="btn btn-warning" />
                    </form>
                    &nbsp;
                    <form asp-controller="Category" asp-action="Delete" style="display: inline-block">
                        <input asp-for="@item.ID" name="id" type="hidden" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
