@model RLIM.UserInterface.Models.ColorModel

@{
    ViewData["Title"] = "Delete Color";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="col-md-4" style="padding-left: 0">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Hex)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Hex)</td>
            </tr>
        </tbody>
    </table>

    <form asp-controller="Color" asp-action="Delete">
        <input asp-for="ID" type="hidden" />
        <input asp-for="Name" type="hidden" />
        <input asp-for="Hex" type="hidden" />
        <input type="submit" value="Yes, I want to" class="btn btn-danger" />
        &nbsp;
        <a asp-controller="Color" asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </form>
</div>
