@model IEnumerable<RLIM.UI.Models.MainItemModel>

@{
    ViewData["Title"] = "Main-Items";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Category</th>
            <th>Platform</th>
            <th>Quality</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Platform.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Quality.Rank) | @Html.DisplayFor(modelItem => item.Quality.Name)</td>
            <td>
                <form asp-controller="SubItem" asp-action="Index" style="display: inline-block">
                    <input asp-for="@item.ID" name="id" type="hidden" />
                    <input type="submit" value="See Sub-Items" class="btn btn-primary" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
