@model IEnumerable<RLIM.UserInterface.Models.SubItemModel>

@{
    ViewData["Title"] = $"Sub-Items of {ViewData["MainItemName"]}";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CertificateDisplay) (tier)</th>
            <th>@Html.DisplayNameFor(model => model.ColorDisplay) (hex)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td><a href="Sub-Item/Create" class="btn btn-primary">New Sub-Item</a></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CertificateDisplay)</td>
                <td>@Html.DisplayFor(modelItem => item.ColorDisplay)</td>
                <td>
                    <a href="Sub-Item/@item.ID/Update" class="btn btn-warning">Update</a>
                    <a href="Sub-Item/@item.ID/Delete" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row justify-content-end" style="margin: 20px">
    <a asp-controller="MainItem" asp-action="Index" class="btn btn-outline-primary">Back to Main-items</a>
</div>
