@model IEnumerable<RLIM.UI.Models.SubItemModel>

@{
    ViewData["Title"] = "Sub-Items";
}

<h1>@ViewData["Title"] of @ViewData["MainItemName"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CertificateDisplay)</th>
            <th>@Html.DisplayNameFor(model => model.ColorDisplay)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td>
                <form asp-controller="SubItem" asp-action="Create" style="display: inline-block">
                    <input asp-for="@ViewData["MainItemID"]" name="id" type="hidden" />
                    <input asp-for="@ViewData["MainItemName"]" name="name" type="hidden" />
                    <input type="submit" value="New Sub-Item" class="btn btn-primary" />
                </form>
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CertificateDisplay)</td>
                <td>@Html.DisplayFor(modelItem => item.ColorDisplay)</td>
                <td>None</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="MainItem" asp-action="Index" class="btn btn-outline-primary">Back to Main-items</a>
