@model IEnumerable<RLIM.UI.Models.SubItemModel>

@{
    ViewData["Title"] = "Sub-Items";
}

<h1>@ViewData["Title"] of @Html.DisplayFor(model => model.ToList()[0].MainItem)</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Certificate)</th>
            <th>@Html.DisplayNameFor(model => model.Color)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Certificate)</td>
                <td>@Html.DisplayFor(modelItem => item.Color)</td>
                <td>None</td>
            </tr>
        }
    </tbody>
</table>

<h2>Work in progress...</h2>
