@model IEnumerable<RLIM.UI.Models.SubItemModel>

@{
    ViewData["Title"] = "Sub-Items";
    TempData["MainItemID"] = ViewData["MainItemID"];
    TempData["MainItemName"] = ViewData["MainItemName"];
}

<h1>@ViewData["Title"] of @ViewData["MainItemName"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CertificateDisplay)</th>
            <th>@Html.DisplayNameFor(model => model.ColorDisplay)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td><a asp-controller="SubItem" asp-action="Create" class="btn btn-primary">New Sub-Item</a></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CertificateDisplay)</td>
                <td>@Html.DisplayFor(modelItem => item.ColorDisplay)</td>
                <td>
                    <form asp-controller="SubItem" asp-action="Delete" style="display: inline-block">
                        <input asp-for="@item.ID" name="id" type="hidden" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="MainItem" asp-action="Index" class="btn btn-outline-primary">Back to Main-items</a>
